<div class="panel panel-primary" *ngIf='offer'>
    
    <div class='panel-body'>
        <div class="row">
    <div class="col-xs-12">
        <div class="btn-inf-scoll-wrap">
            <button type="button" class="btn btn-primary btn-inf-scroll" [routerLink]= "['/confirm']">Done</button>
            <div class="jamp hidden" aria-hidden="true" role="alert">
                <span class="img"></span>
                <span class="message">Just a moment please.</span>
            </div>
        </div>
    </div>
    </div>
     </div>