<!--<citi-header endpoint="{{_appConfigService.getApiServerUrl()}}/brandingConfig"></citi-header> -->
<nav class="left-section">
    <!--
        DO NOT DELETE @ANS-CLI@ DIRECTIVES. THEY ARE USED FOR ANS-CLI. 
        OTHERWISE ANS-CLI MAY STOP WORKING IN THE PROPER WAY. 
    -->
	<!--@ANS-CLI-HEADER-ROUTES@-->
	<!--<span><a [routerLink]=" ['/home'] ">/home</a></span>-->
    <span><a [routerLink]=" ['/loan'] ">/loan</a></span>
</nav>
<div class="container-fluid">
	<router-outlet></router-outlet>
